extends ./layout/index

block contenido 
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="img sobre nosotros", class="img-fluid")
            .col-md-7 
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed rutrum magna. Etiam augue lectus, posuere quis posuere sit amet, posuere quis nulla. Proin ac fringilla nunc. Nunc tellus turpis, venenatis nec tristique sed, efficitur a diam. Quisque sed dui lectus. Donec condimentum urna non rutrum consequat. Suspendisse sodales elit sit amet nisi malesuada, at volutpat risus eleifend.

                p Nam at ex quis lacus molestie tincidunt. Etiam nec elit nisl. Cras pulvinar orci mi, sed porta nisl bibendum quis. Nullam ut tincidunt diam. Curabitur massa odio, congue a consequat quis, porta sit amet nisl. Vivamus faucibus tellus non mattis malesuada. Nullam imperdiet accumsan dolor, at tempor libero cursus nec. 

                p Mauris fringilla ante turpis, non tempus nunc tempor quis. Aliquam consequat mi leo, eu lobortis mauris semper eu. Aenean elementum rhoncus purus, varius varius ante iaculis at. Vivamus nec dignissim velit. Ut consectetur erat in libero vulputate rutrum. Phasellus venenatis metus non molestie sollicitudin. Vivamus pharetra, dolor a vulputate sodales, lectus justo convallis lectus, quis porttitor enim nisl sit amet eros.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Ut consectetur erat in libero vulputate rutrum. Phasellus venenatis metus non molestie sollicitudin. Vivamus pharetra, dolor a vulputate sodales, lectus justo convallis lectus, quis porttitor enim nisl sit amet eros.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Destinos 
                    p Ut consectetur erat in libero vulputate rutrum. Phasellus venenatis metus non molestie sollicitudin. Vivamus pharetra, dolor a vulputate sodales, lectus justo convallis lectus, quis porttitor enim nisl sit amet eros.
               
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Precios 
                    p Ut consectetur erat in libero vulputate rutrum. Phasellus venenatis metus non molestie sollicitudin. Vivamus pharetra, dolor a vulputate sodales, lectus justo convallis lectus, quis porttitor enim nisl sit amet eros.
            
    